version: "3"

services:
  browserless:
    image: ghcr.io/browserless/chromium:latest
    ports:
      - "3000:3000"
    environment:
      - "MAX_CONCURRENT_SESSIONS=10"
      - "CONNECTION_TIMEOUT=60000"
      - "MAX_QUEUE_LENGTH=10"
      - "ENABLE_DEBUGGER=true"
    restart: on-failure
